{
  "statusCode": {{ variables.statusCode }},
  "body": {
    "result": "{{ variables.result }}",
    "status": "{{ variables.status }}",
    "inventory_id": "{{ variables.inventory_id }}"
  },
  "externalJobId": "{{ variables.externalJobId }}",
  "externalJobStatus": "{{ variables.externalJobStatus }}",
  "externalJobResult": "{{ variables.externalJobResult }}"
}