aws-cdk-lib==2.165.0
constructs>=10.0.0,<11.0.0
aws_cdk.aws_lambda_python_alpha
aws_cdk.aws_cognito_identitypool_alpha
boto3
cdk_nag
python-dotenv
pydantic
# aws_cdk.aws_neptune_alpha
# aws-cdk.aws-glue-alpha
# pyyaml
