{
  "metadata": {
    "service": "fillinlater"
  },
  "payload": {
    "externalTaskId": {{ variables.task_id|jsonify }},
    "externalTaskStatus": {{ variables.task_status|jsonify }},
    "externalTaskResults": {{ variables.segments|jsonify }}
  }
}
