{
  "statusCode": 200,
  "body": {
    "invocation_arn": "{{ variables.invocation_arn }}",
    "s3_bucket": "{{ variables.s3_bucket }}",
    "output_location": "{{ variables.output_location }}",
    "status": "{{ variables.status }}",
    "message": "{{ variables.message }}"
    {% if variables.output_file_key %}
    ,
    "output_file_key": "{{ variables.output_file_key }}"
    {% endif %}
  },
  "payload": {
    "invocation_arn": "{{ variables.invocation_arn }}",
    "s3_bucket": "{{ variables.s3_bucket }}",
    "output_location": "{{ variables.output_location }}",
    "status": "{{ variables.status }}",
    "message": "{{ variables.message }}"
    {% if variables.output_file_key %}
    ,
    "output_file_key": "{{ variables.output_file_key }}"
    {% endif %}
  }
}
