openapi: 3.0.0
info:
    title: Deepdub eTTS API
    description: API for converting text into emotionally expressive speech.
    version: 1.0.0
servers:
    - url: https://restapi.deepdub.ai
      description: Production server
paths:
    /tts:
        post:
            summary: Convert text to speech
            description: Converts the provided text into speech using the specified parameters.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                action:
                                    type: string
                                    description: Specifies the type of request. Must be "text-to-speech".
                                model:
                                    type: string
                                    description: Model to use for TTS conversion (e.g., "dd-etts-1.1").
                                targetText:
                                    type: string
                                    description: Text to convert into speech.
                                locale:
                                    type: string
                                    description: Locale for the generated speech (e.g., "en-US").
                                voicePromptId:
                                    type: string
                                    description: ID of the voice prompt to use.
                                targetDuration:
                                    type: number
                                    description: Desired duration of the speech in seconds.
                                tempo:
                                    type: number
                                    description: Tempo of the speech (mutually exclusive with targetDuration).
                                variance:
                                    type: number
                                    description: Variance within a single output of speech.
                                promptBoost:
                                    type: boolean
                                    description: Overrides the default prompt boost logic.
                                seed:
                                    type: integer
                                    description: Seed value for the random number generator.
                                accentControl:
                                    type: object
                                    properties:
                                        accentBaseLocale:
                                            type: string
                                            description: Base locale for the accent (e.g., "en-US").
                                        accentLocale:
                                            type: string
                                            description: Locale for the accent (e.g., "fr-FR").
                                        accentRatio:
                                            type: number
                                            description: Ratio of the accent to apply (0 to 1.0).
                            required:
                                - action
                                - model
                                - targetText
                                - locale
                                - voicePromptId
            responses:
                "200":
                    description: Audio data successfully generated
                    content:
                        audio/mpeg:
                            schema:
                                type: string
                                format: binary
                "400":
                    description: Invalid request parameters
                "401":
                    description: Unauthorized access
                "500":
                    description: Internal server error
components:
    securitySchemes:
        apiKeyAuth:
            type: apiKey
            in: header
            name: x-api-key
security:
    - apiKeyAuth: []
