openapi: 3.0.0
info:
    title: Twelve Labs API
    version: 1.3
    description: Twelve Labs API for video, image, and audio understanding and multimodal embeddings
security:
  - apiKey: []

tags:
  - name: Video Understanding
  - name: Embeddings

servers:
  - url: https://api.twelvelabs.io/v1.3
    description: Production API Server
    x-server-environment: Production

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
  headers:
    Content-Type:
      description: content type 
      schema:
        type: string
    accept:
      description: content type 
      schema:
        type: string
      
paths:
  /embed/tasks:
    post:
      summary: Generate video embeddings
      description: Generate embeddings for videos
      operationId: generateVideoEmbeddings
      parameters:
        - in: query
          name: nodeId
          required: true
          schema:
            type: string
      x-inputMapping: twelve_labs/embed/tasks/post/input
      x-outputMapping: twelve_labs/embed/tasks/post/output
  /embed/tasks/{task_id}/status:
    get:
      summary: Get the status of a video embedding task
      operationId: getEmbeddingTaskStatus
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
      x-inputMapping: twelve_labs/embed/tasks/task_id/status/get/input
      x-outputMapping: twelve_labs/embed/tasks/task_id/status/get/output
  /embed/tasks/{task_id}:
    get:
      summary: Get the results of a video embedding task
      operationId: getEmbeddingTaskResults
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
      x-inputMapping: twelve_labs/embed/tasks/task_id/get/input
      x-outputMapping: twelve_labs/embed/tasks/task_id/get/output
