openapi: 3.0.0
info:
  title: TwelveLabs API
  version: 1.3
  description: TwelveLabs API for video, image, and audio understanding and multimodal embeddings
security:
  - apiKey: []

tags:
  - name: Video Understanding
  - name: Embeddings

servers:
  - url: https://api.twelvelabs.io/
    path: v1.3
    description: Production API Server
    x-server-environment: Production

components:
  securitySchemes:
    apiKey:
      type: api_key
      in: header
      name: x-api-key
  headers:
    Content-Type:
      description: content type
      schema:
        type: string
    accept:
      description: content type
      schema:
        type: string

paths:
  /embed/tasks:
    post:
      summary: Generate video embeddings
      description: Generate embeddings for videos
      operationId: generateVideoEmbeddings
      x-requestMapping: api_templates/twelvelabs/v1.3/embed/tasks
      x-responseMapping: api_templates/twelvelabs/v1.3/embed/tasks
  /embed:
    post:
      summary: Generate image or audio embeddings
      description: Generate embeddings for image or audio
      operationId: generateImageOrAudioEmbeddings
      x-requestMapping: api_templates/twelvelabs/v1.3/embed/tasks
      x-responseMapping: api_templates/twelvelabs/v1.3/embed/tasks
  /embed/tasks/{task_id}/status:
    get:
      summary: Get the status of a video embedding task
      operationId: getEmbeddingTaskStatus
      x-requestMapping: api_templates/twelvelabs/v1.3/embed/tasks/status
      x-responseMapping: api_templates/twelvelabs/v1.3/embed/tasks/status
  /embed/tasks/{task_id}:
    get:
      summary: Get the results of a video embedding task
      operationId: getEmbeddingTaskResults
      x-requestMapping: api_templates/twelvelabs/v1.3/embed/tasks/task_id
      x-responseMapping: api_templates/twelvelabs/v1.3/embed/tasks/task_id
