{
    "name": "Default Image Pipeline",
    "type": "Event Triggered",
    "system": true,
    "event_pattern":{
        "detail-type": ["AssetCreated"],
        "detail": {
            "DigitalSourceAsset": {
                "MainRepresentation": {
                    "Format": ["TIF", "JPG", "JPEG", "PNG","WEBP","GIF","SVG"]
                }
            }
        }
    },
    "definition": {
        "nodes": [
            {
                "id": "dndnode_0",
                "type": "custom",
                "position": {
                    "x": 187,
                    "y": 380
                },
                "data": {
                    "id": "{{ image_metadata_extractor_function_arn }}",
                    "type": "imagemetadata",
                    "label": "Image Metadata",
                    "icon": {
                        "key": null,
                        "ref": null,
                        "props": {
                            "size": 20
                        },
                        "_owner": null
                    },
                    "inputTypes": [
                        "image"
                    ],
                    "outputTypes": [
                        "image"
                    ]
                },
                "width": 60,
                "height": 55,
                "positionAbsolute": {
                    "x": 187,
                    "y": 380
                }
            },
            {
                "id": "dndnode_1",
                "type": "custom",
                "position": {
                    "x": 196,
                    "y": 467
                },
                "data": {
                    "id": "{{ image_proxy_function_arn }}",
                    "type": "imageproxy",
                    "label": "Image Proxy",
                    "icon": {
                        "key": null,
                        "ref": null,
                        "props": {
                            "size": 20
                        },
                        "_owner": null
                    },
                    "inputTypes": [
                        "image"
                    ],
                    "outputTypes": [
                        "image"
                    ]
                },
                "width": 60,
                "height": 55,
                "selected": true,
                "positionAbsolute": {
                    "x": 196,
                    "y": 467
                },
                "dragging": false
            },
            {
                "id": "dndnode_2",
                "type": "custom",
                "position": {
                    "x": 216,
                    "y": 582
                },
                "data": {
                    "id": "{{ image_proxy_function_arn }}",
                    "type": "imagethumbnail",
                    "label": "Image Thumbnail",
                    "icon": {
                        "key": null,
                        "ref": null,
                        "props": {
                            "size": 20
                        },
                        "_owner": null
                    },
                    "inputTypes": [
                        "image"
                    ],
                    "outputTypes": [
                        "image"
                    ],
                    "width": 300,
                    "height": 300
                },
                "width": 60,
                "height": 55,
                "positionAbsolute": {
                    "x": 216,
                    "y": 582
                }
            }
        ],
        "edges": [
            {
                "source": "dndnode_0",
                "sourceHandle": null,
                "target": "dndnode_1",
                "targetHandle": null,
                "type": "custom",
                "data": {
                    "text": "to Image Proxy"
                },
                "id": "reactflow__edge-dndnode_0-dndnode_1"
            },
            {
                "source": "dndnode_1",
                "sourceHandle": null,
                "target": "dndnode_2",
                "targetHandle": null,
                "type": "custom",
                "data": {
                    "text": "to Image Thumbnail"
                },
                "id": "reactflow__edge-dndnode_1-dndnode_2"
            }
        ],
        "viewport": {
            "x": -130.31858746589876,
            "y": -141.11180335713357,
            "zoom": 0.9460576467255969
        }
    }
}
