{
  "statusCode": 200,
  "body": {
    "invocation_arn": "{{ variables.invocation_arn }}",
    "uid": "{{ variables.uid }}",
    "s3_bucket": "{{ variables.s3_bucket }}",
    "output_location": "{{ variables.output_location }}",
    "input_type": "{{ variables.input_type }}",
    "model_id": "{{ variables.model_id }}",
    "status": "{{ variables.status }}"
  },
  "payload": {
    "invocation_arn": "{{ variables.invocation_arn }}",
    "uid": "{{ variables.uid }}",
    "s3_bucket": "{{ variables.s3_bucket }}",
    "output_location": "{{ variables.output_location }}",
    "input_type": "{{ variables.input_type }}",
    "model_id": "{{ variables.model_id }}",
    "status": "{{ variables.status }}"
  }
}
